//- layout.pug
doctype html
html
  head
    title Allstars Dance Academy
    block scripts
    block style 
      
  body
    nav#navbar
        ul
            div#logo
              img(src="/static/img/logo.png")
              
               
            li #[a(href = "/") Home]
            li #[a(href = "/") About]
            li #[a(href = "/contact") Contact us]
            li #[a(href = "/") Book Now]
            li #[a(href = "/") Slots]
    block content
    footer#footer 
        div#footers
          img(src="/static/img/foot1.png", alt="footimg" class="footimg")
          img(src="/static/img/foot2.png", alt="footimg" class="footimg")
          img(src="/static/img/foot3.png", alt="footimg" class="footimg")
          img(src="/static/img/foot4.png", alt="footimg" class="footimg")
          img(src="/static/img/foot5.png", alt="footimg" class="footimg")
          | Copyright Ⓒ 2022 AllstarsDanceAcademy|AllRightsReserved 
